<ng-template #shareModal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ watchlist.name }} teilen</h5>
    <button type="button" class="close" (click)="hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Wenn du diese Watchlist mit einer Person teilen möchstest, schicke ihr folgenden Link:
    <div class="input-group mb-3 mt-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">url</span>
      </div>

      <input #shareInput type="text" readonly class="form-control" aria-label="share-link" aria-describedby="basic-addon1" [ngModel]="shareLink">

    </div>
    <button type="button" class="btn btn-primary" (click)="copyInputMessage(shareInput)">Link in die Zwischenablage kopieren</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="hide()">schließen</button>
  </div>
</ng-template>
