<ng-container *ngIf="media.ownWatchId; else elseTemplate">
  <ng-container *ngIf="!isLoading; else savingTemplate">
    <button
      type="submit"
      (click)="markAsUnWatched()"
      class="btn btn-light btn-sm"
    >
      Als nicht gesehen markieren
    </button>
  </ng-container>
</ng-container>
<ng-template #elseTemplate>
  <ng-container *ngIf="!isLoading; else savingTemplate">
    <button
      type="submit"
      (click)="markAsWatched()"
      class="btn btn-success btn-sm"
    >
      Als gesehen markieren
    </button>
  </ng-container>
</ng-template>

<ng-template #savingTemplate>
  <button type="submit" class="btn btn-success btn-sm" disabled>
    <span
      class="spinner-border spinner-border-sm"
      role="status"
      aria-hidden="true"
    ></span>
    speichern...
  </button>
</ng-template>
