$image-height: 30px;
$navbar-height: 70px;

.user-image {
  border-radius: 50%;
  height: $image-height;
  width: $image-height;
  object-fit: cover;
}

.navbar {
  position: relative;
}

.user-button {
  color: black;
}

.navbar-toggler {
  margin-right: 20px;
}

.user-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 12px;
  font-size: 14px;
  top: 0;
  right: 0;
  height: $navbar-height;
}


