<nav class="navbar navbar-expand-md bg-light navbar-light">
  <!-- Brand -->
  <div class="navbar-brand">
    <!--<button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#collapsibleNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>-->
    <a class="navbar-brand navbar-wl" routerLink="/">Watchlist</a>
  </div>

  <!-- Navbar links
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="movies">Alle Listen</a>
      </li>
    </ul>
  </div> -->

  <div class="user-container">
    <ng-container *ngIf="auth.user | async as user; else notLoggedIn">

      <img src="{{ user.photoURL ? user.photoURL : 'https://clamparion.com/wl/assets/default-user-image.png' }}" class="user-image" alt="user image" />


      <a
        class="nav-link dropdown-toggle user-button"
        href="#"
        id="navbarDropdown2"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        {{ user.displayName }}
      </a>

      <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
        <a class="dropdown-item" href="#" (click)="auth.signOut()">Logout</a>
      </div>
    </ng-container>
    <ng-template #notLoggedIn>
      <div class="col">
        <a
          class="nav-link user-button"
          id="navbarDropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          routerLink="/login"
        >
        Login
        </a>
      </div>
    </ng-template>
  </div>
</nav>
