
<a type="button" class="d-block mb-5" [routerLink]="['/watchlist/' + watchlistId]">zurück zur Watchlist</a>


<ng-container *ngIf="!mediaId; else elseTemplate">
  <app-movie-title [allNames]="allNames | async" [watchListId]="watchlistId" ></app-movie-title>
</ng-container>
<ng-template #elseTemplate>
  <app-add-media-form [watchlistId]="watchlistId" [allNames]="allNames | async" [mediaId]="mediaId" [movieImage]="movieImage"></app-add-media-form>
</ng-template>
