<h2 class="card-title mb-3">Neue Watchlist hinzufügen</h2>
<div class="card ing-card">
  <div class="card-body">


    <form [formGroup]="watchlistForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="row">
        <div class="col-lg-8 col-12">
          <formly-form
            class="w-100"
            [form]="watchlistForm"
            [fields]="fields"
            [model]="model"
            [options]="options"
          ></formly-form>
        </div>
      </div>

      <ng-container *ngIf="!isLoading; else elseTemplate">
        <button type="submit" class="btn btn-primary">
          Watchlist Hinzufügen
        </button>
      </ng-container>
      <ng-template #elseTemplate>
        <button type="submit" class="btn btn-primary" disabled>
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Speichern..
        </button>
      </ng-template>
    </form>
  </div>
</div>
