
<ng-container *ngIf="!omdbLoading; else loadingSpinner">
<h5 class="card-title mb-5">Neue Film oder Serie hinzufügen</h5>
<div class="card ing-card">
  <div class="card-body">


    <form [formGroup]="movieForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="row">
        <div class="col-lg-4 col-12 d-flex justify-content-center">
          <img class="tumbnail" [src]="this.model?.imageUrl" />
        </div>
        <div class="col-lg-8 col-12">
          <formly-form
            class="w-100"
            [form]="movieForm"
            [fields]="fields"
            [model]="model"
            [options]="options"
          ></formly-form>
        </div>
      </div>

      <ng-container *ngIf="!isLoading; else elseTemplate">
        <button type="submit" class="btn btn-primary">
          Hinzufügen
        </button>
      </ng-container>
      <ng-template #elseTemplate>
        <button type="submit" class="btn btn-primary" disabled>
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Speichern..
        </button>
      </ng-template>
    </form>
  </div>
</div>


</ng-container>
<ng-template #loadingSpinner>
  <div class="spinner-border"> </div> Lade Daten...
</ng-template>
