<ng-container
  *ngIf="showMustLogInMessage; then mustLoginMessage; else mainTemplate"
></ng-container>

<ng-template #mainTemplate>
  <ng-container
    *ngIf="
      title !== undefined && from !== undefined && watchListId !== undefined;
      else somethingWentWrong
    "
  >
    <div class="card">
      <div class="card-header">
        Einladung zur Watchlist
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <div class="card-text">
          Du wurdest von <strong>{{ from }}</strong> zur watchlist
          <strong>"{{ title }}"</strong> eingeladen. Möchtest du die Einladung
          annehmen?
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <button class="btn btn-success w-100" (click)="acceptInvitation()">annehmen</button>
          </div>
          <div class="col-6">
            <button class="btn btn-danger w-100" [routerLink]="['']">
              ignorieren
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #somethingWentWrong>
    <h2>Hoppla da ist etwas schief gelaufen!</h2>
    <button class="btn btn-primary w-100 mt-3" [routerLink]="['']">
      zurück zur App
    </button>
  </ng-template>
</ng-template>

<ng-template #mustLoginMessage>
  <h2>Die Einladung wurde angenommen.</h2>
  <div>Du bist aber nicht eingeloggt. Bitte registriere dich oder logge dich mit deinem Account ein, um die Watchlist in deiner Übersicht zu sehen!</div>
  <button class="btn btn-primary w-100 mt-3" [routerLink]="['/login']">
    zum Login
  </button>
</ng-template>
