<div class="container w-100">
  <a type="button" class="d-block mb-3" [routerLink]="['/watchlist/' + watchlistId]">zurück zur Watchlist</a>

  <div *ngIf="mediaObs | async as media" class="card">
    <img
      class="card-img-top tumbnail"
      [src]="media.imageUrl"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{ media.title }}</h5>
      <div class="card-text">
        <div class="row mt-2">
          <div class="col-12">
            {{ media.type === 'movie' ? 'Film' : 'Serie' }} - {{ media.year }}
          </div>
          <div class="col-12 mt-1">
            <img
              class="imdb-logo"
              src="https://clamparion.com/wl/assets/imdb.png"
            />
            <strong class="pl-2">{{ media.imdbRating }}</strong>
          </div>

          <div class="col-12 mt-2">
            <a target="_blank" [href]="'https://www.imdb.com/title/' + media.imdbId ">{{ media.title }} auf IMDb öffnen</a>
          </div>

          <div class="col-12 mt-2"><strong>Genre: </strong> {{ media.genre }}</div>

          <div class="col-12  mt-2">
            <strong>Schauspieler: </strong> {{ media.actors }}
          </div>
          <div class="col-12  mt-2">
            <strong>Regie: </strong> {{ media.director }}
          </div>

          <div class="col-12  mt-2"><strong>Land: </strong> {{ media.country }}</div>
          <div class="col-12  mt-2">
            <strong>Auszeichnungen: </strong> {{ media.awards }}
          </div>
          <div class="col-12  mt-2">
            <strong>Handlung: </strong> {{ media.plot }}
          </div>

          <div class="col-12 mt-3">
            <strong>Gesehen von: </strong> {{ media.watchedBy.join(', ') }}
          </div>
          <div class="col-12 mt-2 mb-3">
            <app-mark-as-watched [media]="media"></app-mark-as-watched>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
