
<h5 class="card-title mb-5">Neue Film oder Serie hinzufügen</h5>
<form *ngIf="movieForm" [formGroup]="movieForm" (ngSubmit)="onSubmit()" novalidate>
  <formly-form class="w-100"  [form]="movieForm" [fields]="fields" [model]="model"  [options]="options"></formly-form>
  <ng-container *ngIf="!isLoading; else elseTemplate">
    <button type="submit" class="btn btn-primary">
      Film oder Serie suchen</button>
  </ng-container>
  <ng-template #elseTemplate>
    <button type="submit" class="btn btn-primary" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Suche nach Filmen und Serien... </button>
  </ng-template>
</form>

<div>
  <ng-container *ngFor="let item of searchResults | async">
    <div  class="card w-100  mt-2">
      <div class="card-body">
        <div class="row">
          <div class="col-4 col-md-2">
            <img class="tumbnail" [src]="item.image" >
          </div>
          <div class="col-8 col-md-10">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.year}} - {{item.actors}}</p>
            <button class="btn btn-primary" (click)="selectMovie(item)" >Auswählen</button>
          </div>
        </div>

      </div>
    </div>
  </ng-container>
</div>



