

<div class="card ing-card w-100">
  <div class="card-body">
    <div class="row">
      <div class="col-4 col-md-2"  (click)="showDetails()">
        <div>
          <img class="tumbnail" [src]="media.imageUrl" />
        </div>
        <div class="mt-3">
          <img
            class="imdb-logo"
            src="https://clamparion.com/wl/assets/imdb.png"
          />
          <strong class="pl-2">{{ media.imdbRating }}</strong>
        </div>
      </div>
      <div class="col-8 col-md-10">
        <div class="row">
          <div class="col-8 pl-0 pr-0">
            <h5 class="card-title">
              <a (click)="showDetails()">{{ media.title }}</a>
            </h5>
          </div>
          <div class="col-4 d-flex justify-content-end">
            <button
              data-toggle="modal"
              (click)="openModal(deleteModalTemplate)"
              class="btn btn-warning class delete-button"
            >
              <ngx-fa name="trash" size="lg"></ngx-fa>
            </button>
          </div>
        </div>
        <div class="row mt-2" (click)="showDetails()">
          <div class="col-12 pl-0 pr-0">
            {{ media.type === 'movie' ? 'Film' : 'Serie' }} - {{ media.year }}
          </div>
          <div class="col-12 pl-0 pr-0">
            {{ media.genre }}
          </div>

          <div class="col-12 pl-0 pr-0">
            {{ media.actors }}
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <strong>Gesehen von: </strong> {{ media.watchedBy.join(', ') }}
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 pl-0 pr-0">
            <app-mark-as-watched [media]="media"></app-mark-as-watched>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- delete Modal -->
<ng-template #deleteModalTemplate>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">
      {{ media.title }} löschen?
    </h5>
    <button
      type="button"
      class="close"
      (click)="modalRef.hide()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Möchtest du
    {{ media.type === 'movie' ? 'diesen Film' : 'diese Serie' }} wirklich
    löschen?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">
      Abbrechen
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="deleteItem(media)"
      data-dismiss="modal"
    >
      <ngx-fa name="trash" class="pr-3" size="m"></ngx-fa>Löschen
    </button>
  </div>
</ng-template>
