<div *ngIf="auth.user | async as user; else login">
  Du bist als
  {{ user.displayName }}
  eingeloggt
  <button class="btn btn-primary" [routerLink]="['']">weiter zur Watchlist</button>
</div>
<ng-template #login>
  <div class="card ing-card">
    <div class="card-body">
      <h5 class="card-title">Login mit Email und Password</h5>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
        <formly-form
          class="w-100"
          [form]="loginForm"
          [fields]="fields"
          [model]="model"
          [options]="options"
        ></formly-form>
        <div class="row justify-content-center">
          <div class="col-12 col-md-6">
            <button type="submit" class="btn btn-primary">
              Mit Email und Passwort einloggen
            </button>
          </div>
          <div class="col-12  mt-3 col-md-6 d-flex align-items-end justify-content-end">
            <a routerLink="/register"> Nock kein Konto? Jetzt registrieren!</a>
          </div>

        </div>
      </form>
    </div>
  </div>

  <div class="container fluid social-login">
    <div class="row">
      <div class="col-5">
        <span class="gray-line"></span>
      </div>
      <div class="col-2 or-label">oder</div>
      <div class="col-5">
        <span class="gray-line"></span>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="social-button">
        <button class="btn btn-success" (click)="signInWithGoogle()">
          <ngx-fa name="google" class="pr-2" size="lg"></ngx-fa> Mit Google einloggen
        </button>
      </div>
    </div>
  </div>
</ng-template>
