
.or-label {
  text-align: center;
}

.gray-line {

  display: block;
  width: 100%;
  height: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);;

}

.social-login {
  margin-top: 40px;
}

.social-button  {
  margin-top: 25px;
}
