<!-- <app-add-media-form [allNames]="allNames"></app-add-media-form> -->

<div class="row mb-3">
  <div class="col-8">
    <h2>{{watchlist?.name}}</h2>
  </div>
  <div class="col-4">
    <button
      class="btn btn-success btn-sm w-100"
      (click)="shareModalOpened = true"
    >
      <ngx-fa name="share-alt" class="pr-2" size="xl"></ngx-fa>
      Teilen
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <button
      class="btn btn-primary w-100"
      [routerLink]="['/watchlist/' + watchlistId + '/add']"
      routerLinkActive="router-link-active"
    >
      Film oder Serie zur Liste hinzufügen
    </button>
  </div>
</div>
<!-- Filters -->
<div class="row mt-5">
  <div class="col-12 col-md">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"
          ><ngx-fa name="search"></ngx-fa
        ></span>
      </div>
      <input
        [ngModel]="filterText"
        (ngModelChange)="filterText = $event; filterItems()"
        type="text"
        class="form-control"
        placeholder="Suchen..."
        aria-label="Search"
        aria-describedby="basic-addon1"
      />
    </div>
  </div>
  <div
    class="col-12 col-md mt-4 mt-md-0 d-flex justify-content-center justify-content-md-end"
  >
    <div class="btn-group btn-group-toggle">
      <label
        class="btn btn-secondary"
        [ngClass]="{ active: filterBy === 'all' }"
        (click)="navigateFilter('all')"
      >
        <input type="radio" name="options" value="all" [ngModel]="filterBy" />
        Alle
      </label>
      <label
        class="btn btn-secondary"
        [ngClass]="{ active: filterBy === 'movie' }"
        (click)="navigateFilter('movie')"
      >
        <input type="radio" name="options" value="movie" [ngModel]="filterBy" />
        Filme
      </label>
      <label
        class="btn btn-secondary"
        [ngClass]="{ active: filterBy === 'series' }"
        (click)="navigateFilter('series')"
      >
        <input
          type="radio"
          name="options"
          value="series"
          [ngModel]="filterBy"
        />
        Serien
      </label>
    </div>
  </div>
</div>
<!-- Cards -->
<div class="row">
  <ng-container *ngFor="let item of filterdItems">
    <ng-container *ngIf="filterBy === 'all' || filterBy === item.type">
      <div class="col-12 mt-2">
        <app-movies-card [media]="item" [watchlistId]="watchlistId"></app-movies-card>
      </div>
    </ng-container>
  </ng-container>
</div>

<app-watchlist-share-modal [(isOpened)]="shareModalOpened" [watchlist]="watchlist"></app-watchlist-share-modal>
