<div class="row">
  <div class="col-6">
    <h2>Deine Watchlists</h2>
  </div>
  <div class="col-6">
    <button
      class="btn btn-primary w-100"
      [routerLink]="['/add']"
    >
      <ngx-fa name="plus" class="pr-2" size="xxl"></ngx-fa>
      Watchlist hinzufügen
    </button>
  </div>
</div>

<div class="pt-3" *ngIf="userWithWatchlist | async as usrWatchlist">
  <div class="row">
    <ng-container *ngFor="let watchlist of usrWatchlist.watchlists">
      <div class="col-12 movie-card mt-2">
        <app-watchlist-card [watchlist]="watchlist"></app-watchlist-card>
      </div>
    </ng-container>
    <ng-container *ngIf="usrWatchlist.watchlists.length === 0">
      <div class="col-12">
        Du hast noch keine Watchlist. Erstelle eine neue Watchlist oder warte
        bis du zu einer eingeladen wirst.
      </div>
    </ng-container>
  </div>
</div>
