<div class="card ing-card">
  <div class="card-body">
    <h5 class="card-title">Mit Email und Password registrieren</h5>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
      <formly-form class="w-100"  [form]="registerForm" [fields]="fields" [model]="model"  [options]="options"></formly-form>
            <div class="row justify-content-center">
              <div class="col-12 col-md-6">
                <button type="submit" class="btn btn-primary">
                  Jetzt registrieren
                </button>
              </div>
              <div class="col-12 col-md-6 d-flex align-items-end justify-content-end">
                <a routerLink="/login">Zurück zum login</a>
              </div>
        </div>
  </form>
  </div>

</div>
