.tumbnail {
  max-width: 100%;
  object-fit: contain;
}

.thumbnail-small {
  width: 50%;
  object-fit: contain;
}

.imdb-logo {
  width: 50px;
  object-fit: contain;
}

.delete-button {
  max-height: 38px;
}
