<ng-container *ngIf="details | async as wlDetails">
  <div class="card ing-card w-100">
    <div class="card-body">
      <div class="row">
        <div class="col-4 col-md-2">
          <div class="thumbnail d-flex flex-wrap">
            <ng-container *ngFor="let item of wlDetails.firstFourMedia">
              <img class="thumbnail-small" [src]="item.imageUrl" />
            </ng-container>


          </div>
        </div>
        <div class="col-8 col-md-10">
          <div class="row">
            <div class="col-8 pl-0 pr-0">
              <h5 class="card-title">{{ watchlist?.name }}</h5>
            </div>
            <div class="col-4 d-flex justify-content-end">
              <button
              data-toggle="modal" (click)="shareModalOpened = true"
                class="btn btn-success class delete-button"
              >
                <ngx-fa name="share-alt" size="lg"></ngx-fa>
              </button>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 pl-0 pr-0">
              Anzahl Filme: {{ wlDetails.numberOfMovies }}
            </div>
            <div class="col-12 pl-0 pr-0">
              Anzahl Serien: {{ wlDetails.numberOfSeries }}
            </div>
            <div class="col-12 pl-0 pr-0">
              Anzahl Nutzer: {{ watchlist.users.length }}
            </div>
            <div class="col-12 pl-0 pr-0 mt-2">
              <button class="btn btn-primary" [routerLink]="['watchlist/' + watchlist.watchlistId]" >Öffnen</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<app-watchlist-share-modal [(isOpened)]="shareModalOpened" [watchlist]="watchlist"></app-watchlist-share-modal>


